pipeline/Foreachpipeline.json
{
	"name": "Foreachpipeline",
	"properties": {
		"description": "using for each sequentially transfer data from multiple tables",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 2,
					"retryIntervalInSeconds": 3000,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable39",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:15:00",
								"retry": 2,
								"retryIntervalInSeconds": 3000,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "TableName",
											"value": {
												"value": "@item().TableNameList",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@concat('select ',item().ColumnList,' from ',item().TableNameList,' where ',item().IsActive,' = 1')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Sno",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Sno",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "StoreName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "StoreName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Year",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "Year",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Sales",
												"type": "Double",
												"physicalType": "float"
											},
											"sink": {
												"name": "Sales",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "TableName"
											},
											"sink": {
												"name": "TableName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable39",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable40",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Till yesterday"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-03T09:38:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}